<button nz-button class="btn-pay" nzType="primary" nzShape="circle" (click)="open()" [disabled]="btnDisabled">
    <span nz-icon nzType="dollar" nzTheme="outline"></span>
</button>

<nz-drawer [nzBodyStyle]="{ overflow: 'auto' }" [nzMaskClosable]="false" [nzWidth]="720" [nzVisible]="visible" nzTitle="Pagar crédito" [nzPlacement]="placement" [nzFooter]="footerTpl" (nzOnClose)="close()">
  
  <nz-list style="text-align: center;">
    <ul *nzDrawerContent nz-list nzSize="large" style="padding: 0;">
      <h4>Detalle del crédito</h4>
      <nz-list-item><span nz-typography>Código</span>{{ requestInfo?.id  }}</nz-list-item>
      <nz-list-item><span nz-typography>Nombre</span>{{ requestInfo?.nameApplicant }}</nz-list-item>
      <nz-list-item><span nz-typography>Nro. documento</span>{{ requestInfo?.numDocument }}</nz-list-item>
      <nz-list-item><span nz-typography>Monto</span>{{ requestInfo?.amount | currency}}</nz-list-item>
    </ul>
  </nz-list>

  <ng-template #footerTpl>
    <div style="float: right">
      <button nz-button style="margin-right: 8px;" (click)="close()">Cancelar</button>
      <button nz-button nzType="primary" (click)="pay()" >Pagar</button>
    </div>
  </ng-template>

</nz-drawer>